/* config barra de Rolagem */

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #3B3C40;
}

body::-webkit-scrollbar-thumb {
  background-color: #BFB8B9;
  border-radius: 20px;
  border: 3px solid #3B3C40;
}

/* Início do corpo do site */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial Narrow', 'Franklin Gothic Medium', Arial, sans-serif;
  background-color: #212226;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #BFB8B9;
  font-size: 20px;
}

.img1 {
  width: 200px;
}

#img2 {
  border-radius: 50px;
}

.navbar {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  transition: all 0.5s;
  border: 10px solid transparent;
}

.navbar :hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#main {
  width: 99vw;
  height: auto;
  display: flex;
  padding-top: 40px;
  padding-bottom: 14vw;
  /* align-items: center; */
  background-color: #3b3c4096;
  justify-content: space-around;
}

#text1 {
  width: 20vw;
  height: 22vw;
  display: flex;
  padding: 10px;
  color: aliceblue;
  text-align: justify;
  flex-direction: column;
  background-color: #A69CA5;
  border-radius: 10px 0px 10px 0px;
}

#text2 {
  width: 22vw;
  height: 24vw;
  display: flex;
  padding: 10px;
  color: aliceblue;
  text-align: justify;
  flex-direction: column;
  background-color: #A69CA5;
  border-radius: 10px 0px 10px 0px;
}

#title1 {
  text-align: center;
}
.div_c{
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}
.image{
  width: 180px;
  margin-top: 4px;
  margin-left: 2vw;
}
.image1{
  width: 150px;
  height: 150px;
  margin-top: 4px;
  margin-left: 2vw;
  border-radius: 20vw;
}
#nome_per{
  text-align: center;
}

/* BANNER */

.banner {
  height: fit-content;
  padding: 40px 0;
  color: #BFB8B9;
  background-color: #3B3C40;
  background-size: cover;
}

.banner .container {
  height: 400px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.tamanho-conteudo {
  height: fit-content !important;
}

.banner p {
  width: 50%;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

#tudo {
  background-color: #3b3c40;
  display: flex;
  flex-direction: row-reverse;
}

/* Mini cards com Dramas */

.social {
  background-color: #A69CA5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
}

.social p {
  text-align: center;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* FOOTER */

.footer {
  background-color: #212226;
  height: 60px;
  color: #BFB8B9;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
}


/* LOGIN */

.container-tamanho-conteudo {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  height: 400px;
  margin-left: 37vw;
  border-radius: 30px 0px 30px 0px;
  justify-content: center;
  background-color: #a69ca573;
}

.banner .container .card {
  background-color: #a69ca573;
  height: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: #bfb8b9;
  align-items: center;
  border-radius: 4px;
}

.div_center {
  font-size: 20px;
  text-align: center;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #7b8c89;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  /* border: #e6005a 3px solid; */
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 16px;
  font-weight: 500 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: dotted black;
  padding: 10px;
  text-align: center;
  border-radius: 10px 0px 10px 0px;
}

.nivel1 {
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.btn {
  font-family: 'Arial Narrow', 'Franklin Gothic Medium', Arial, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #BFB8B9;
  background-color: #212226;
  width: auto;
  align-self: center;
  margin-top: 5px;
  cursor: pointer;
}
/* .modal{
  width: 400px;
  height: 400px;
  background-color: #32b9cd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none; 
} */

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#img_naruto {
  width: 300px;
  margin-left: 7vw;
}

#img_kpop {
  width: 400px;
  margin-left: 3.8vw;
}

.resposta {
  width: auto;
  font-size: 30px;
  padding: 10px;
  background-color: #3b3c4063;
  color: #212226;
  border-radius: 10px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: #BFB8B9;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #7b8c89;
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #212226;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #BFB8B9;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: #BFB8B9;
  background-color: #212226;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

/* .btn-nav-white {
  width: 40%;
  background-color: #212226;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
} */

.btn-nav-white h3 {
  color: #BFB8B9;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #212226;
  color: #bfb8b9;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}

/* SLIDESHOW - CONFIGURAÇÕES DE STYLE - INÍCIO */

/* Slideshow */

.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Imagens ocultas dentro do slideshow */
.mySlides {
  display: none;
}

/* Próximo e Prévia do slideshow */
/* .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Posição do botão direito*/
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* .active,
.dot:hover {
  background-color: #717171;
} */

/* Transição entre um slide e outro - Animação */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* SLIDESHOW - FIM */